/* ---- base styles ------*/

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
form,
select,
.btn {
    font-family: 'Merriweather', serif;
}

h2,
h3 {
    color: #2c3038;
}

form,
option,
span,
footer {
    color: #969696;
    font-weight: 200;
}

main {
    padding: 15px 15px;
}

.banner {
    display: flex;
    background-color: #2c3038;
    color: #fff;
    width: 100%;
}

h1 {
    display: block;
    text-transform: uppercase;
    align-self: center;
    margin: 24px auto;
    font-size: 1.5em;
}

.intro {
    text-align: center;
    border-bottom: 3px solid #2c3038;
    padding-bottom: 40px;
}

h2 {
    padding-top: 10px;
    font-size: 1.3em;
}

h3 {
    border-top: 1px solid #2c3038;
    padding-top: 20px;
    margin-top: 3px;
}

footer {
    text-align: center;
    margin: 15px 0 25px;
    font-style: italic;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    background-color: #f2f2f2;

}

label {
    display: block;
    margin: 20px 0 10px;
}

#zip {
    width: 50%;
    margin-bottom: 30px;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: #4fb3ae;
    margin-top: 20px;
}


/* ---- pseudo classes ------*/

input::placeholder {
    text-align: right;
    color: #adadad;
    font-size: .75em;
    font-style: italic;
}

select::placeholder {
    color: #adadad;
}

input:focus  {
    border: 1px solid #2c2f4f;
}


/* ----  media queries ------*/