/* ---- base styles ------*/

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
form,
select,
.btn {
    font-family: 'Merriweather', serif;
}

h2,
h3 {
    color: #2c3038;
}

form,
option,
span,
footer {
    color: #969696;
    font-weight: 200;
}

main {
    padding: 15px 15px;
}

.banner {
    display: flex;
    background-color: #2c3038;
    color: #fff;
    width: 100%;
}

.details {
    background-color: rgba(79, 179, 174, .15);
}

h1 {
    display: block;
    text-transform: uppercase;
    align-self: center;
    margin: 24px auto;
    font-size: 1.5em;
}

.intro {
    text-align: center;
    border-bottom: 3px solid #2c3038;
    padding-bottom: 40px;
}

h2 {
    padding-top: 10px;
    font-size: 1.3em;
}

h3 {
    border-top: 1px solid #2c3038;
    padding-top: 20px;
    margin-top: 3px;
}

footer {
    text-align: center;
    margin: 15px 0 25px;
    font-style: italic;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    background-color: #ededed;
}

label {
    display: inline-block;
    margin: 20px 0 10px;
}

#zip {
    width: 50%;
    margin-bottom: 30px;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: rgba(79, 179, 174, 1);
    margin-top: 20px;
}

input[type="checkbox"],
input[type="radio"] {
    width: 1em;
    display: inline-block;
    margin-right: 10px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    margin-top: 10px;
}

.check,
.radio {
    margin-bottom: 15px;
}

textarea {
    height: 100px;
}


/* ---- pseudo classes ------*/

input::placeholder {
    text-align: right;
    color: #adadad;
    font-size: .75em;
    font-style: italic;
}

select::placeholder {
    color: #adadad;
}

input:focus,
textarea:focus {
    border: 1px solid #2c2f4f;
    background-color: #fff;
    transition: background-color 2s;
}

.btn:hover {
    background-color: rgba(79, 179, 174, .7);
    transition: background-color 1s;
}

.btn:active {
    background-color: salmon;
    transition: background-color 2s;
}


/* ----  media queries ------*/

@media (min-width: 768px) {

    main {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
        width: 400px;
        margin-left: auto;
    }

    .field {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    h3 {
        padding-top: 30px;
    }

    #zip {
        width: 150px;
        margin-right: 250px;
    }

}